block variables

mixin color-block(className, colorName, colorNumber)
    .color-block__rectangle(class=className)
    .color-block__text-wrapper(class=className)
        .color-block__color-name=colorName
        .color-block__color-number=colorNumber