include color-block.scss
mixin color-block(className, colorName, colorNumber)
    .color-block__rectangle.className
    .color-block__text-wrapper.className
        h2.color-block__color-name=colorName
        h2.color-block__color-number=colorNumber