include text-field text-field_hover.scss


.text-field
    h3.text-field__headling text field
    h3.text-field__description hover/focus
    .text-field__rectangle
    p.text-field__value This is pretty awesome