//Colors
$darkshade100: #1F2041;
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.5);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

//Typography
h1{ 
    font: bold, 24px/30px, "Open Sans", sans-serif;
    color: $darkshade100;
};

h2{ 
    font: bold, 19px/24px, "Open Sans", sans-serif;
    color: $darkshade100;
};

h3{
    font: bold, uppercase, 12px/15px, Montserrat-Bold, sans-serif;
    color: $darkshade100;
};

p{ 
    font: 14px/24px, Montserrat-Regular, sans-serif;
    color: $darkshade75;
}

