@import "./../../scss/variables.scss";
@import "./../../blocks/color-block/color-block.scss";

body{
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
}

.logo-wrapper{
    position: absolute;
    left: 30px;
    top: 30px;
}

.color-block__rectangle{
    position: absolute;
    left: 150px;

    &.dark-shade-100{
        background-color: $darkshade100;
        top: 145px;
    }

    &.dark-shade-75{
    background-color: $darkshade75;
    top: 235px;
    }

    &.dark-shade-50{
        background-color: $darkshade50;
        top: 325px;
    }

    &.dark-shade-25{
        background-color: $darkshade25;
        top: 415px;
    }
    &.dark-shade-5{
        background-color: $darkshade5;
        top: 505px;
    }

    &.purple{
        background-color: $purple;
        top: 595px;
    }

    &.green{
        background-color: $green;
        top: 685px;
    }
}

.color-block__text-wrapper{
    position: absolute;
    left: 260px;

    &.dark-shade-100{
        width: 159px;
        height: 57px;
        top: 152px;
    }
    &.dark-shade-75{
        width: 150px;
        height: 57px;
        top: 242px;
    }

    &.dark-shade-50{
        width: 151px;
        height: 57px;
        top: 332px;
    }

    &.dark-shade-25{
        width: 149px;
        left: 260px;
        top: 422px;
    }
    
    &.dark-shade-5{
        width: 139px;
        height: 58px;
        top: 511px;
    }

    &.purple{
        width: 82px;
        height: 58px;
        top: 601px;
    }

    &.green{
        width: 77px;
        height: 57px;
        top: 692px;
    }
}

.types-headling{
   position: absolute;
   width: 37px;
   height: 297px;
   left: 846px;
   top: 145px;
   font-family: Montserrat-Regular;
   color: $darkshade25;
}

.types-headling__h1 {
     font-size: 24px;
     line-height: 29px;
     left: 8px;
 }

.types-headling__h2 {
     position: absolute;
     top: 110px;
     left: 10px;
     font-size: 19px;
     line-height: 23px;
 }

.types-headling__h3 {
     position: absolute;
     top: 208px;
     left: 20px;
     font-size: 12px;
     line-height: 15px;
     text-transform: uppercase;
 }

.types-headling__body {
     position: absolute;
     top: 273px;
     font-size: 14px;
     line-height: 24px;
 }


.types-text{
    position: absolute;
    width: 336px;
    left: 913px;
    top: 145px;
    text-align: left;
}

.types-text__h1{
    font-family: Quicksand-Bold;
    font-size: 24px;
    line-height: 30px;
    color: $darkshade100
}

.types-text__h2{
    position: absolute;
    top: 110px;
    font-family: Quicksand-Bold;
    font-size: 19px;
    line-height: 24px;
    color: $darkshade100;
} 

.types-text__h3{
    position: absolute;
    top: 208px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade100;
}

.types-text__body{
    position: absolute;
    top: 273px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 24px;
    color: $darkshade75;
} 