extends ./../../layouts/ui-kit-layout.pug

block variables
    - var title = "Colors & Types"
    - var styleLink = "ui-kit-colors-types.scss"

block content
    include ./../../blocks/color-block/color-block.pug
    
    +color-block("dark-shade-100", "Dark Shade 100%", "#1F2041")
    +color-block("dark-shade-75", "Dark Shade 75%", "#1F2041")
    +color-block("dark-shade-50", "Dark Shade 50%", "#1F2041")
    +color-block("dark-shade-25", "Dark Shade 25%", "#1F2041")
    +color-block("dark-shade-5", "Dark Shade 5%", "#1F2041")
    +color-block("purple", "Purple", "#BC9CFF")
    +color-block("green", "Green", "#6FCF97")

    .types-headling
        .types-headling__h1 H1
        .types-headling__h2 H2
        .types-headling__h3 H3
        .types-headling__body Body
        
    .types-text
        .types-text__h1 This one is the sub-section or widget title
        .types-text__h2 Next one is the item title inside widgets
        .types-text__h3 This is a label or CTA text
        .types-text__body This is the body text which is used for most of the design, like paragraphs, lists, etc.